
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url('BG.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    font-family: 'Georgia', 'Times New Roman', serif; 
}

.card {
    background-color: #e8dcc0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(0,0,0,0.1));
    width: 350px;
    padding: 40px 25px;
    border: 4px solid #5e0000;
    border-radius: 5px;
    text-align: center;
    
    box-shadow: 0 10px 30px rgba(60, 30, 10, 0.6);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    animation: float 5s ease-in-out infinite;
}

.card h1 {
    font-family: 'Georgia', serif;
    font-size: 38px;
    color: #8c0000;
    margin-bottom: 5px;
    font-weight: 900; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    letter-spacing: 2px;
    border-bottom: 2px solid #8c0000; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.card p {
    font-family: 'Georgia', serif;
    color: #3b2313;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 30px;
    font-weight: 600;
    text-shadow: none; 
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: #8c0000;
    color: #e8dcc0;
    padding: 12px 35px;
    font-family: 'Georgia', serif;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid #3b2313; 
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5); 
}


.btn:hover {
    background-color: #5e0000;
    color: #ffffff;
    transform: scale(1.05);

    box-shadow: 0 0 20px rgba(140, 0, 0, 0.7);
}

.reward-box {
    padding-bottom: 15px;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, calc(-50% - 15px));
    }
    100% {
        transform: translate(-50%, -50%);
    }
}
