* {
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #1e73be;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
     flex: 1;
}

.products {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
display: flex;
  justify-content: center;
  align-items: stretch;  
  gap: 40px;
  padding: 30px;
  flex-wrap: wrap;      
}



  .card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.15);
  text-align: center;
  width: 420px;       
  font-size: 18px;    
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  height: 520px; 
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.card img {
  width: 100%;
  height: 300px;       
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 15px;
}


.card h2 {
  margin: 10px 0 5px;
}

.card p {
  color: #555;
  font-size: 14px;
  margin-bottom: 15px;
}

#xiaomi img {
  filter: brightness(1.2) saturate(2) contrast(1.2);
  mix-blend-mode: multiply;
  background-color: transparent;
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
}

#iphone img {
  padding-bottom: 10px;
    transform: scale(1.08);
}

#samsung img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: contain;
  transform: scale(1.08);
}

.btn {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  background: #1e73be;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}


.btn:hover {
  background: #155a91;
}


footer {
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: #f1f1f1;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  position: relative;
  left: 0;
}

